body {
  margin: 0 auto;
  background: #030718;
  max-width: 375px;
  margin: 0 auto;
  padding: 0;
  color: white;
  font-family: "IBM Plex Sans", sans-serif;
}
body nav {
  position: relative;
  padding-right: 16px;
  display: flex;
  justify-content: space-between;
}
body nav .logo {
  display: flex;
  align-items: center;
  padding-left: -16px;
}
body nav .nav_menu .nav_menu_list {
  position: absolute;
  left: 0;
  z-index: 3;
  display: none;
  background: rgb(106, 84, 255);
  width: 100%;
}
body nav .nav_menu .nav_menu_list .nav_menu_listClose {
  text-align: right;
}
body nav .nav_menu .nav_menu_list ul {
  margin: 0;
  padding: 0;
  padding-left: 16px;
  padding-bottom: 113px;
  margin-top: 32px;
}
body nav .nav_menu .nav_menu_list ul li {
  list-style-type: none;
  text-transform: uppercase;
  margin-bottom: 32px;
}
body nav .nav_menu .nav_menu_list ul li a {
  color: white;
  text-decoration: none;
  font-size: 24px;
  line-height: 30px;
  opacity: 60%;
}
body nav .nav_menu .nav_menu_list .nav_menu_register {
  width: 100%;
  padding-left: 16px;
  justify-content: space-between;
  padding-bottom: 16px;
}
body nav .nav_menu .nav_menu_list .nav_menu_register button {
  height: 52px;
  width: 163.5px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 3px;
  margin-right: 5px;
}
body nav .nav_menu .nav_menu_list .nav_menu_register .but_reg {
  background: rgb(87, 225, 255);
  border: none;
}
body nav .nav_menu .nav_menu_list .nav_menu_register .butEnter {
  border: 2px solid rgb(87, 225, 255);
  color: rgb(87, 225, 255);
  background: rgb(106, 84, 255);
}
body nav .nav_menu .nav_menu_mobi {
  padding-top: 17px;
}
body .main {
  padding-top: 40px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 37px;
  overflow: hidden;
}
body .main .main_card_wrapper {
  display: flex;
  position: relative;
}
body .main .main_card_wrapper .main_card {
  display: flex;
}
body .main .main_card_wrapper .main_card .card {
  padding: 10px;
  border-radius: 4px;
  padding-right: 70px;
}
body .main .main_card_wrapper .main_card .card h3,
body .main .main_card_wrapper .main_card .card .profit {
  font-size: 20px;
  line-height: 28px;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0;
}
body .main .main_card_wrapper .main_card .card .subtitle {
  margin-bottom: 20px;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  opacity: 60%;
}
body .main .main_card_wrapper .main_card .card_outline {
  border: 1px dashed #6a54ff;
  margin-right: 2px;
}
body .main .main_card_wrapper .main_card .card_solid {
  border: none;
  background: #6a54ff;
  margin-left: 2px;
}
body .main .main_card_wrapper .main_card .card_line {
  height: 21px;
}
body .main .main_card_wrapper .main_card .lineSolid {
  margin-top: auto;
}
body .main .main_card_wrapper .main_card_solid {
  position: absolute;
  left: 114px;
  top: 26px;
}
body .main .main_info {
  padding-top: 60px;
}
body .main .main_info .main_info_tittle {
  font-size: 35px;
  font-weight: bold;
  line-height: 44px;
  text-transform: uppercase;
  letter-spacing: -1.4px;
  padding-bottom: 12px;
}
body .main .main_info .main_info_data {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400px;
  opacity: 80%;
  padding-bottom: 24px;
}
body .main .main_info .main_info_mail input {
  height: 50px;
  border-radius: 4px;
  border: none;
  text-transform: uppercase;
}
body .main .main_info .main_info_mail input[type=text] {
  background: rgb(32, 26, 79);
  width: 65%;
}
body .main .main_info .main_info_mail input[type=text]::placeholder {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  padding-left: 16px;
}
body .main .main_info .main_info_mail input[type=submit] {
  background: rgb(87, 225, 255);
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
  color: rgb(3, 7, 24);
  width: 30%;
}
body .main .main_info .main_info_note {
  padding-top: 12px;
  font-size: 14px;
  font-weight: 400;
  opacity: 30%;
  padding-bottom: 37px;
}
body .digit {
  position: relative;
  background: rgb(255, 255, 255);
  padding-left: 16px;
  padding-right: 26px;
  padding-bottom: 48px;
  padding-top: 24px;
}
body .digit .digit_tittle {
  font-size: 28px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  color: black;
  margin: 0;
}
body .digit .digit_subtittle {
  font-size: 14px;
  line-height: 20px;
  opacity: 50%;
  padding-bottom: 40px;
  color: rgb(0, 0, 0);
}
body .digit .digit_info .info_line_first {
  display: flex;
  justify-content: space-between;
  padding-bottom: 32px;
}
body .digit .digit_info .digit_info_line h4 {
  font-size: 14px;
  line-height: 20px;
  opacity: 80%;
  text-transform: uppercase;
  color: rgb(0, 0, 0);
  font-weight: 400;
  margin: 0;
}
body .digit .digit_info .digit_info_line div {
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 500;
  color: rgb(106, 84, 255);
}
body .deal {
  padding-top: 48px;
  padding-left: 16px;
  padding-bottom: 53px;
}
body .deal .deal_tittle {
  font-size: 28px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 700;
}
body .deal .deal_indicate {
  color: rgb(53, 255, 158);
  font-size: 14px;
  opacity: 90%;
  display: flex;
  align-items: center;
}
body .deal .deal_indicate img {
  margin-right: 4px;
}
body .deal .deal_cards_list {
  margin-top: 24px;
  display: flex;
  overflow: scroll;
  padding-bottom: 16px;
}
body .deal .deal_cards_list .deal_card {
  margin-right: 8px;
  padding-top: 16px;
  padding-bottom: 16px;
  background-image: url("/img/profit_bg.png");
  background-size: cover;
  padding-left: 16px;
  width: 299px;
}
body .deal .deal_cards_list .deal_card .card_first_wrap {
  display: flex;
  justify-content: space-between;
}
body .deal .deal_cards_list .deal_card .card_first_wrap .card_first_wrap_data .deal_card_tittle {
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}
body .deal .deal_cards_list .deal_card .card_first_wrap .card_first_wrap_data .deal_card_sub_tittle {
  font-size: 14px;
  font-weight: 500;
  opacity: 40%;
}
body .deal .deal_cards_list .deal_card .card_first_wrap .card_first_wrap_data .deal_card_profit {
  padding-top: 40px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 2px;
}
body .deal .deal_cards_list .deal_card .card_first_wrap .card_first_wrap_data .deal_card_profit_perc {
  font-size: 28px;
  color: rgb(53, 255, 158);
  text-transform: uppercase;
  font-weight: 500;
  display: flex;
  align-items: center;
}
body .deal .deal_cards_list .deal_card .deal_card_goal {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  padding-right: 16px;
  margin-top: -15px;
}
body .deal .deal_cards_list .deal_card .deal_card_goal .deal_card_goal_name {
  opacity: 70%;
}
body .deal .deal_cards_list .deal_card .deal_card_goal .deal_card_date {
  opacity: 40%;
}
body .deal .deal_cards_list::-webkit-scrollbar {
  height: 6px;
  width: 0;
}
body .deal .deal_cards_list::-webkit-scrollbar-track {
  background: rgb(67, 79, 112);
  border-radius: 56px;
  margin-left: 32px;
  margin-right: 32px;
}
body .deal .deal_cards_list::-webkit-scrollbar-thumb {
  background: rgb(96, 115, 161);
  border-radius: 56px;
  width: 61.66px;
}
body .about_company {
  position: relative;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 24px;
  background: linear-gradient(to bottom, rgb(255, 255, 255) 75%, #030718 25%);
}
body .about_company .about_company_tittle {
  font-size: 28px;
  font-weight: 700;
  padding-bottom: 20px;
  color: black;
  text-transform: uppercase;
}
body .about_company .about_company_data {
  font-weight: 400;
  font-size: 16px;
  color: black;
  line-height: 20px;
}
body .about_company .about_company_data div {
  padding-bottom: 40px;
  opacity: 80%;
}
body .about_company .about_company_tryIt {
  padding: 15px;
  background: rgb(106, 84, 255);
  border-radius: 4px;
}
body .about_company .about_company_tryIt .about_company_tryIt_title {
  font-size: 20px;
  line-height: 28px;
  padding-bottom: 20px;
  text-align: center;
}
body .about_company .about_company_tryIt .about_company_tryIt_mail input {
  height: 50px;
  border-radius: 3px;
  border: none;
  text-transform: uppercase;
  margin-bottom: 8px;
  width: 100%;
}
body .about_company .about_company_tryIt .about_company_tryIt_mail input[type=text] {
  background: rgb(32, 26, 79);
  opacity: 34%;
}
body .about_company .about_company_tryIt .about_company_tryIt_mail input[type=text]::placeholder {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  padding-left: 16px;
}
body .about_company .about_company_tryIt .about_company_tryIt_mail input[type=submit] {
  background: rgb(87, 225, 255);
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  color: rgb(3, 7, 24);
}
body .tariffs {
  padding-top: 56px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 44px;
}
body .tariffs .tariffs_tittle {
  font-size: 28px;
  text-transform: uppercase;
  font-weight: 700;
  padding-bottom: 24px;
}
body .tariffs .tariffs_switch {
  display: flex;
  margin-bottom: 4px;
  font-size: 18px;
  text-transform: uppercase;
  padding: 4px;
  background: rgb(43, 25, 155);
  border-radius: 4px;
}
body .tariffs .tariffs_switch .switch1 {
  background: rgb(87, 225, 255);
  font-weight: 700;
  padding: 14px 60px;
  border-radius: 4px;
  color: black;
}
body .tariffs .tariffs_switch .switch2 {
  color: rgb(87, 225, 255);
  padding: 14px 35px;
}
body .tariffs .tariffs_list .tarrifs_info {
  margin-top: 20px;
  padding: 16px;
  font-size: 16px;
}
body .tariffs .tariffs_list .tarrifs_info .tarif_item_tittle {
  font-size: 20px;
  font-weight: 500;
  padding-bottom: 24px;
}
body .tariffs .tariffs_list .tarrifs_info .tarif_item_list ul {
  margin: 0;
  padding: 0;
}
body .tariffs .tariffs_list .tarrifs_info .tarif_item_list ul li {
  list-style-type: none;
  padding-bottom: 8px;
  padding-top: 8px;
  border-bottom: 1px dashed rgba(255, 255, 255, 0.2);
  font-size: 16px;
}
body .tariffs .tariffs_list .tarrifs_info .tarif_item_list ul li img {
  margin-right: 10px;
}
body .tariffs .tariffs_list .tarrifs_info .tarif_item_price {
  display: flex;
  justify-content: space-between;
  padding-top: 26px;
  padding-bottom: 24px;
}
body .tariffs .tariffs_list .tarrifs_info .tarif_item_price .tarif_item_price_wrapper {
  display: flex;
}
body .tariffs .tariffs_list .tarrifs_info .tarif_item_price .tarif_item_price_wrapper .price {
  font-size: 35px;
  font-weight: 500;
}
body .tariffs .tariffs_list .tarrifs_info .tarif_item_price .tarif_item_price_wrapper .priceChange {
  font-size: 18px;
  color: rgb(53, 255, 158);
}
body .tariffs .tariffs_list .tarrifs_info .tarif_item_price .tarif_item_price_select select {
  padding: 8px;
  height: 36px;
  font-size: 16px;
  color: white;
  border-radius: 4px;
  border: none;
  line-height: 20px;
}
body .tariffs .tariffs_list .tarrifs_info .tarif_item_but button {
  width: 100%;
  background: rgb(87, 225, 255);
  border: none;
  border-radius: 3px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  text-transform: uppercase;
}
body .tariffs .tariffs_list .tarrifs_info .tarif_item_but button span {
  font-size: 12px;
  opacity: 56%;
  text-transform: lowercase;
}
body .tariffs .tariffs_list .tarif_item1 {
  border: 1px solid rgb(106, 84, 255);
  border-radius: 8px;
}
body .tariffs .tariffs_list .tarif_item1 .tarif_item_price_select select {
  background-color: rgb(61, 61, 61);
}
body .tariffs .tariffs_list .tarif_item2 {
  border: none;
  border-radius: 8px;
  background: rgb(106, 84, 255);
}
body .tariffs .tariffs_list .tarif_item2 .tarif_item_price_select select {
  background-color: rgba(181, 158, 245, 0.178);
}

.digit_wrapper::before,
.about_company_wrapper::before {
  content: "";
  position: absolute;
  top: -30px;
  left: 0;
  width: 70%;
  height: 60px;
  background: white;
  clip-path: polygon(0 0, calc(100% - 40px) 0, 100% 40px, 100% 100%, 0 100%);
}

@media screen and (min-width: 800px) {
  body {
    min-width: 800px;
  }
  .tariffs .tariffs_switch {
    width: fit-content;
  }
  .tariffs .tariffs_list {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .tariffs .tariffs_list .tarrifs_info {
    margin-right: 20px;
  }
  .main {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 160px !important;
    padding-left: 80px !important;
    padding-bottom: 134px !important;
  }
  .main .main_card_wrapper {
    width: 50%;
    padding-left: 128px;
  }
  .main .main_card_wrapper .card_outline {
    height: 90px;
  }
  .main .main_card_wrapper .main_card_solid {
    left: 242px !important;
  }
  .main .main_info {
    width: 50%;
    padding: 0 !important;
  }
  .digit {
    background: rgb(255, 255, 255);
    padding-left: 80px !important;
    padding-bottom: 25px !important;
    padding-top: 56px !important;
  }
  .digit .digit_wrapper {
    display: flex;
    justify-content: space-between;
  }
  .digit .digit_wrapper .digit_info {
    display: flex;
  }
  .digit .digit_wrapper .digit_info .digit_info_card {
    text-align: center;
  }
  .digit .digit_wrapper .digit_info h4 {
    text-transform: lowercase !important;
  }
  .digit .digit_wrapper .digit_date {
    margin-right: 140px;
  }
  .about_company {
    background: white !important;
  }
  .about_company .about_company_data_wrap {
    display: flex;
    justify-content: space-between;
    padding-bottom: 92px;
  }
  .about_company .about_company_data_wrap .about_company_data {
    width: 50%;
  }
  .about_company .about_company_data_wrap .about_company_tryIt .about_company_tryIt_mail {
    display: flex;
  }
}
@media screen and (min-width: 1440px) {
  body {
    max-width: 1440px;
  }
  body nav {
    padding-left: 80px;
    padding-right: 80px;
  }
}

/*# sourceMappingURL=style.css.map */
